
<div>
<h1>这是homework1</h1>
<h2><a href="http://www.3dmgame.com/">1)link to 3DM</a><h2>
<h2 id="showtime"></h2>
<h2><a href="articles">3)这里是homewrok2</a></h2>
</div>

<script type="text/javascript" color="0,0,255" opacity='0.7' zIndex="-2" count="100" src="http://yscc.xyz/js/canvas-nest.js"></script>